@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<div class="main custom">
    <div class="custom-cards">
        <div class="card-container">
            <h3>Option 1</h3>
            <div class="card-option card-1">
                <div class="color-1">
                    <img />
                    <p class="bold">Title</p>
                </div>
                <div class="color-2">
                    <p>Name</p>
                    <p>address</p>
                </div>
                <button class="edit">Edit</button>
            </div>
            <div>
                <button class="save">Add to Cart</button>
            </div>
        </div>
        <div class="card-container">
            <h3>Option 2</h3>
            <div class="card-option card-2">
                <div class="color-1">
                    <p>Name</p>
                    <p>address</p>
                </div>
                <div class="color-2">
                    <img />
                    <p class="bold">Title</p>
                </div>
                <button class="edit">Edit</button>
            </div>
            <div>
                <button class="save">Add to Cart</button>
            </div>
        </div>
        <div class="card-container">
            <h3>Option 3</h3>
            <div class="card-option card-3">
                <div class="color-1">
                </div>
                <div class="card-content">
                    <p class="bold">Title</p>
                    <img />
                    <p>Name</p>
                    <p>address</p>
                </div>
                <button class="edit">Edit</button>
            </div>
            <div>
                <button class="save">Add to Cart</button>
            </div>
        </div>
    </div>
</div>