body {
  margin: 0;
  background-color: #F2F2F2; }
  body .main {
    background-image: url("../images/bc-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 4400px;
    max-width: 1440px;
    margin: 0 auto; }
    body .main.custom {
      background-image: url("../images/custom-cards.png");
      background-size: cover;
      position: relative; }

.custom-cards {
  width: 1310px;
  height: 433px;
  position: absolute;
  left: 40px;
  top: 335px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; }
  .custom-cards h3 {
    font-size: 20px; }

.card-container {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative; }
  .card-container .save {
    background: #a30000;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    overflow: hidden;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 42px;
    margin: 20px 0;
    min-width: 210px;
    backface-visibility: visible;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    transform: translateY(0);
    transition: all 0.15s ease;
    font-weight: bold; }
    .card-container .save:after {
      content: '';
      width: 100%;
      height: 100%;
      background: #CC0000;
      position: absolute;
      top: 0px;
      left: 0;
      z-index: -1;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      opacity: 1; }
    .card-container .save:hover {
      transform: translateY(-1px); }
      .card-container .save:hover:after {
        top: -4px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px; }
  .card-container .edit {
    width: 60px;
    height: 30px;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #444444;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    font-family: "HelveticaNeueMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    font-size: 13px;
    float: left;
    margin-left: 20px;
    display: none;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    position: absolute;
    z-index: 2; }
  .card-container .card-option {
    width: 80%;
    margin: 0 auto;
    height: 200px;
    margin-top: 50px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden; }
    .card-container .card-option:hover .edit {
      display: block; }
    .card-container .card-option .bold {
      font-weight: bold; }
    .card-container .card-option img {
      height: 70px;
      width: 70px;
      margin: 40px 0 15px;
      object-fit: contain; }
    .card-container .card-option.card-1 {
      display: flex; }
      .card-container .card-option.card-1 .color-1 {
        width: 40%;
        background: #D46A6A; }
      .card-container .card-option.card-1 .color-2 {
        width: 60%;
        background: #FFAAAA;
        padding-top: 45px; }
    .card-container .card-option.card-2 {
      display: flex; }
      .card-container .card-option.card-2 .color-1 {
        width: 60%;
        background: #77548A;
        padding-top: 45px; }
      .card-container .card-option.card-2 .color-2 {
        width: 40%;
        background: #9B8BA3; }
    .card-container .card-option.card-3 {
      display: flex;
      background: #A8C272;
      padding: 10px; }
      .card-container .card-option.card-3 .color-1 {
        background: #D9E5C1;
        transform: rotate(29.7deg);
        height: 190px;
        width: 430px;
        position: absolute;
        right: -83px;
        top: -78px; }
      .card-container .card-option.card-3 .card-content {
        z-index: 1;
        width: 100%; }
      .card-container .card-option.card-3 img {
        margin: 10px; }

.chatbot {
  position: fixed;
  bottom: 0;
  right: 30px;
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .chatbot .container {
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    position: relative;
    height: 500px;
    width: 300px;
    box-shadow: rgba(66, 45, 45, 0.5) 0 -3px 27px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: 1px solid #b5b5b5;
    background: #fff;
    padding: 0; }
  .chatbot .cht-top {
    background: #CC0000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CC0000, #cb2d3e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CC0000, #cb2d3e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px; }
  .chatbot .chat-icon {
    background: #CC0000;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    z-index: 10;
    position: absolute;
    height: 50px;
    top: -19px;
    left: -9px; }
  .chatbot .chatbox-chat {
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  .chatbot .chat-bubble {
    background-color: #f2f2f2;
    padding: 7px;
    margin: 0px 20px 15px;
    border-radius: 5px;
    border: 1px solid #ececec;
    position: relative;
    transition: all 0.2s ease-out; }
    .chatbot .chat-bubble:after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 14px solid transparent;
      border-right-color: #ececec;
      border-left: 0;
      border-bottom: 0;
      margin-top: -10px;
      margin-left: -15px; }
  .chatbot .chat-inputs {
    padding: 7px;
    margin: 0 20px; }
    .chatbot .chat-inputs input {
      margin: 5px 0;
      padding: 10px;
      -webkit-appearance: none;
      border: 0;
      border-bottom: 1px solid gray; }
  .chatbot .chat-options {
    margin: 9px 5px 23px; }
    .chatbot .chat-options .chat-bubble-option {
      display: inline-block;
      text-align: center;
      background: #0099CC;
      padding: 10px;
      border-radius: 5px;
      min-width: 65px;
      color: #fff;
      cursor: pointer; }
      .chatbot .chat-options .chat-bubble-option:hover {
        background: rgba(0, 153, 204, 0.8); }
  .chatbot .bubble-hide {
    visibility: none;
    opacity: 0;
    transform: translateY(20px); }
  .chatbot .bubble-show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px); }
  .chatbot ::-webkit-scrollbar {
    width: 10px; }
  .chatbot ::-webkit-scrollbar-track {
    background: #f1f1f1; }
  .chatbot ::-webkit-scrollbar-thumb {
    background: #dedede; }
  .chatbot ::-webkit-scrollbar-thumb:hover {
    background: #dedede; }
