@{
    ViewData["Title"] = "Home Page";
}

<div class="main home"></div>

<div class="chatbot">
    <div class="container">
        <div class="cht-top">
            <div class="chat-icon">
                <img src="https://image.flaticon.com/icons/svg/167/167750.svg" alt="">
            </div>
        </div>
        <div class="chatbox-chat">
            <div class="chat-bubble">
                <p><strong>Hello, I'm Norman;</strong> your design assistant.</p>
            </div>
            <div class="chat-bubble">
                <p>Would you like me to assist you with your next design?.</p>
            </div>
            <div class="chat-options" id="next-design">
                <span class="chat-bubble-option" data-attribute="true">👍</span>
                <span class="chat-bubble-option" data-attribute="false">👎</span>
            </div>
            <div class="image-upload">
                <form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
                    <div class="form-group">
                        <div class="col-md-10">
                            <p>Upload one or more files using this form:</p>
                            <input type="file" name="files" multiple />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Upload" id="close-upload"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<div class="main custom">
    <div class="custom-cards">
        <div class="card-container">
            <h3>Option 1</h3>
            <div class="card-option card-1">
                <div class="color-1">
                    <img src="~/images/logo.jpg" />
                    <p class="title bold">Title</p>
                </div>
                <div class="color-2">
                    <p class="name"></p>
                    <p class="email"></p>
                    <p class="phoneNumber"></p>
                    <p class="website"></p>
                </div>
                <button class="edit">Edit</button>
            </div>
            <div>
                <button class="save">Add to Cart</button>
            </div>
        </div>
        <div class="card-container">
            <h3>Option 2</h3>
            <div class="card-option card-2">
                <div class="color-1">
                    <p class="name"></p>
                    <p class="email"></p>
                    <p class="phoneNumber"></p>
                    <p class="website"></p>
                </div>
                <div class="color-2">
                    <img src="~/images/logo.jpg" />
                    <p class="title bold"></p>
                </div>
                <button class="edit">Edit</button>
            </div>
            <div>
                <button class="save">Add to Cart</button>
            </div>
        </div>
        <div class="card-container">
            <h3>Option 3</h3>
            <div class="card-option card-3 color-2">
                <div class="color-1">
                </div>
                <div class="card-content">
                    <p class="title bold"></p>
                    <img src="~/images/logo.jpg" />
                    <p class="name"></p>
                    <p class="email"></p>
                    <p class="phoneNumber"></p>
                    <p class="website"></p>
                </div>
                <button class="edit">Edit</button>
            </div>
            <div>
                <button class="save">Add to Cart</button>
            </div>
        </div>
    </div>
